.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  box-shadow: 0 10px 15px gray;
  height: 60px;
  padding: 0 20px;
}

.logo {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.head {
  height: 20px;
  width: 15px;
  background-color: black;
  border-radius: 50%;
  margin-bottom: -5px;
}

.leftHand {
  position: absolute;
  left: 31px;
  top: 25px;
  /* z-index: 300; */
}

.leftHand>div:first-child {
  /* background-color: pink; */
  background-color: black;
  width: 5px;
  height: 15px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  transform: rotate(30deg);
}

.leftHand>div:last-child {
  /* background-color: pink; */
  background-color: black;
  width: 4px;
  height: 15px;
  margin-top: -7px;
  margin-left: 1px;
  border-top-left-radius: 20px;
  animation: codingLh 0.7s infinite;
}

@keyframes codingLh {
  from {
    transform: rotate(-40deg);
  }
  to {
    transform: rotate(-37deg);
  }
}

.rightHand {
  position: absolute;
  left: 54.5px;
  top: 25px;
  /* z-index: 300; */
}

.rightHand>div:first-child {
  /* background-color: pink; */
  background-color: black;
  width: 5px;
  height: 15px;
  margin-left: -0.6px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transform: rotate(-30deg);
}

.rightHand>div:last-child {
  /* background-color: pink; */
  background-color: black;
  width: 4px;
  height: 15px;
  margin-top: -7px;
  margin-left: -0.5px;
  border-top-right-radius: 20px;
  animation: codingRh 0.5s infinite;
}

@keyframes codingRh {
  from {
    transform: rotate(40deg);
  }
  to {
    transform: rotate(37deg);
  }
}

.body {
  height: 20px;
  width: 25px;
  background-color: black;
  border-radius: 30%;
  z-index: 100;
}

.pcWrap {
  margin-top: -22px;
  height: 25px;
  overflow: hidden;
  padding: 10px 10px 0 10px;
  z-index: 200;
}

.pc {
  height: 15px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 8px;
  border-top: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  background-color: gray;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  animation: flash 2s infinite;
  overflow: hidden;
}

@keyframes flash {
  10% {
    box-shadow: 0 0 10px white;
  }
  30% {
    box-shadow: 0 0 5px white;
  }
  100% {
    box-shadow: 0 0 12px white;
  }
}

.burger {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topBun {
  height: 10px;
  background-color: gray;
  width: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cheese {
  height: 2px;
  width: 29px;
  background-color: goldenrod;
  border-radius: 5px;
}

.middle {
  height: 4px;
  width: 27px;
  background-color: black;
  border-radius: 5px;
}

.botBun {
  height: 6px;
  width: 25px;
  background-color: gray;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}